body {background-color: #ecf0f1;
	text-align: center;
	font-family: 'Open Sans';}

header {font-size: -webkit-xxx-large;
		margin-top: 40px;}


.main {background-color: rgba(241, 196, 15, 0.6);
		margin-top: 40px;
		min-width: 1200px;
		height: 700px;}

input {border-radius: 7px;
		width: 262px;
		height: 40px;
		border-style: none;
		font-family: 'Open Sans';
		font-size: 18px;}

.add {padding-top: 30px;}	

#good {font-size: 20px;
		color: #2c3e50;
		}

.items {font-size: 20px;
		list-style-type: none;
		padding: inherit;}


li {padding: 10px;
	display:none;}