body {background-color: #ecf0f1;
	font-family: 'Open Sans';}

header {font-size: -webkit-xxx-large;
		margin-top: 40px;
		color: #2c3e50;
		padding-left: 10px;}

.main {background-color: rgba(241, 196, 15, 0.6);
		margin-top: 40px;
		min-width: 1200px;
		height: 800px;}

#inputName {border-radius: 7px;
		width: 262px;
		height: 40px;
		border-style: none;
		font-family: 'Open Sans';
		font-size: 18px;
		}

.add {padding-top: 30px;
	padding-left: 20px;}

#btnName {display: -webkit-inline-box;
		margin: 2px;
		padding: 8px;
		border-radius: 4px;
		text-align: center;
		color: #2c3e50;
		background-color: rgba(41, 128, 185, 0.79);
		font-style: italic;
		font-size: inherit;}	

#instruct1 {font-size: 20px;
		color: #2c3e50;
		padding-left: 20px;}

#instruct2 {font-size:17px;
		color: #2c3e50;
		padding-left: 20px;}

#instruct3 {font-size:17px;
		color: #2c3e50;
		padding-left: 20px;}

.justList {font-size: 20px;
		list-style-type: none;
		padding: inherit;
		color: #34495E;
		padding-left: 20px;}


li {padding: 10px;
	background-color: rgba(41, 128, 185, 0.79);
	border-radius: 7px;
	margin: 10px;
	width: 230px;
	}

#x {float: right;
	background-color: rgba(41, 128, 185, 0);
	border-style: none;
	font-size: 18px;
	font-style: inherit;}

#check {float: left;
		margin: inherit;
		outline-color: #2c3e50;}
